<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>blue_blink_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,222},{274,218}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,69},{274,218}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>blue_blink_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,2},{274,218}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,69},{274,218}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>blue_blink_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{274,218}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,69},{274,218}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>blue_blink_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{274,218}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,69},{274,218}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>blue_blink_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,2},{274,218}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,69},{274,218}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>blue_blink_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,222},{274,218}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,69},{274,218}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>blue_blink.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e1a1abc60699f86f9eeaf9831dcec224:1/1$</string>
            <key>textureFileName</key>
            <string>blue_blink.png</string>
        </dict>
    </dict>
</plist>
