<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>blue_touch_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1390},{274,218}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,69},{274,218}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>blue_touch_00025.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1112},{276,220}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,67},{276,220}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>blue_touch_00026.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,668},{282,220}}</string>
                <key>offset</key>
                <string>{-1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,64},{282,220}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>blue_touch_00027.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,446},{288,220}}</string>
                <key>offset</key>
                <string>{-1,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,61},{288,220}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>blue_touch_00028.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,224},{296,220}}</string>
                <key>offset</key>
                <string>{-2,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,58},{296,220}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>blue_touch_00029.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,2},{302,220}}</string>
                <key>offset</key>
                <string>{-3,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,56},{302,220}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>blue_touch_00030.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{304,220}}</string>
                <key>offset</key>
                <string>{-3,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,55},{304,220}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>blue_touch_00031.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,2},{302,220}}</string>
                <key>offset</key>
                <string>{-2,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,55},{302,220}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>blue_touch_00032.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,224},{300,220}}</string>
                <key>offset</key>
                <string>{-2,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,56},{300,220}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>blue_touch_00033.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,224},{298,220}}</string>
                <key>offset</key>
                <string>{-2,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,57},{298,220}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>blue_touch_00034.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,446},{294,220}}</string>
                <key>offset</key>
                <string>{-2,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,59},{294,220}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>blue_touch_00035.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,446},{290,220}}</string>
                <key>offset</key>
                <string>{-1,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,60},{290,220}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>blue_touch_00036.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,668},{286,220}}</string>
                <key>offset</key>
                <string>{-1,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,62},{286,220}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>blue_touch_00037.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,668},{284,220}}</string>
                <key>offset</key>
                <string>{-1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,64},{284,220}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>blue_touch_00038.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,890},{280,220}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,65},{280,220}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>blue_touch_00039.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,890},{276,220}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,66},{276,220}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>blue_touch_00040.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,890},{276,220}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,67},{276,220}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>blue_touch_00041.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1390},{274,218}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,69},{274,218}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>blue_blink.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:128050e03c2f41d9728514f6181b97a8:1/1$</string>
            <key>textureFileName</key>
            <string>blue_blink.png</string>
        </dict>
    </dict>
</plist>
