<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bubbleA_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1016,2},{1,1}}</string>
                <key>offset</key>
                <string>{-511.5,511.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>bubbleA_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1016,2},{1,1}}</string>
                <key>offset</key>
                <string>{-511.5,511.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>bubbleA_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,354},{98,98}}</string>
                <key>offset</key>
                <string>{-67,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{396,445},{98,98}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>bubbleA_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1926},{120,120}}</string>
                <key>offset</key>
                <string>{-59,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{393,430},{120,120}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>bubbleA_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,1710},{170,140}}</string>
                <key>offset</key>
                <string>{-66,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{361,413},{170,140}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>bubbleA_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1710},{214,162}}</string>
                <key>offset</key>
                <string>{-75,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{330,399},{214,162}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>bubbleA_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,1398},{254,196}}</string>
                <key>offset</key>
                <string>{-85,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{300,387},{254,196}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>bubbleA_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,466},{296,232}}</string>
                <key>offset</key>
                <string>{-94,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{270,372},{296,232}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>bubbleA_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,820},{342,270}}</string>
                <key>offset</key>
                <string>{-102,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{239,357},{342,270}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>bubbleA_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,354},{386,310}}</string>
                <key>offset</key>
                <string>{-108,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{211,341},{386,310}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>bubbleA_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,2},{430,350}}</string>
                <key>offset</key>
                <string>{-113,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{184,329},{430,350}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>bubbleA_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,510},{374,308}}</string>
                <key>offset</key>
                <string>{-167,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,399},{374,308}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>bubbleA_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,666},{290,352}}</string>
                <key>offset</key>
                <string>{-106,-50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{261,386},{290,352}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>bubbleA_014.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,958},{340,254}}</string>
                <key>offset</key>
                <string>{-110,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{232,376},{340,254}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>bubbleA_015.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,764},{214,286}}</string>
                <key>offset</key>
                <string>{-27,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{378,369},{214,286}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>bubbleA_016.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,980},{256,332}}</string>
                <key>offset</key>
                <string>{-28,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{356,351},{256,332}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>bubbleA_017.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1092},{206,338}}</string>
                <key>offset</key>
                <string>{-73,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{336,358},{206,338}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>bubbleA_018.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,274},{234,394}}</string>
                <key>offset</key>
                <string>{-79,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{316,329},{234,394}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>bubbleA_019.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{270,450}}</string>
                <key>offset</key>
                <string>{-80,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{297,299},{270,450}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>bubbleA_020.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1300},{282,224}}</string>
                <key>offset</key>
                <string>{-88,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{283,432},{282,224}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>bubbleA_021.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1526},{182,250}}</string>
                <key>offset</key>
                <string>{-25,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{396,425},{182,250}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>bubbleA_022.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,1238},{184,280}}</string>
                <key>offset</key>
                <string>{-6,-50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{414,422},{184,280}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>bubbleA_023.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,1214},{182,310}}</string>
                <key>offset</key>
                <string>{14,-60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{435,417},{182,310}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>bubbleA_024.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,284},{180,120}}</string>
                <key>offset</key>
                <string>{39,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{461,405},{180,120}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>bubbleA_025.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,104},{178,124}}</string>
                <key>offset</key>
                <string>{66,59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{489,391},{178,124}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>bubbleA_026.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,2},{100,128}}</string>
                <key>offset</key>
                <string>{53,72}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{515,376},{100,128}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>bubbleA_027.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,1398},{100,100}}</string>
                <key>offset</key>
                <string>{77,69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{539,393},{100,100}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>bubbleA_028.png</key>
            <dict>
                <key>frame</key>
                <string>{{1016,2},{1,1}}</string>
                <key>offset</key>
                <string>{-511.5,511.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>bubbleA_029.png</key>
            <dict>
                <key>frame</key>
                <string>{{1016,2},{1,1}}</string>
                <key>offset</key>
                <string>{-511.5,511.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>bubbleA_030.png</key>
            <dict>
                <key>frame</key>
                <string>{{1016,2},{1,1}}</string>
                <key>offset</key>
                <string>{-511.5,511.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bubbles.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f1e2876673604137d65622d8538174ca:1/1$</string>
            <key>textureFileName</key>
            <string>bubbles.png</string>
        </dict>
    </dict>
</plist>
