<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>pink_touch_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1032},{264,202}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,78},{264,202}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>pink_touch_00025.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,826},{266,204}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,76},{266,204}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>pink_touch_00026.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,620},{272,204}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,73},{272,204}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>pink_touch_00027.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,414},{280,204}}</string>
                <key>offset</key>
                <string>{-1,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,70},{280,204}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>pink_touch_00028.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,208},{288,204}}</string>
                <key>offset</key>
                <string>{-3,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,67},{288,204}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>pink_touch_00029.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,208},{294,204}}</string>
                <key>offset</key>
                <string>{-3,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,65},{294,204}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>pink_touch_00030.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{296,204}}</string>
                <key>offset</key>
                <string>{-3,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,64},{296,204}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>pink_touch_00031.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,2},{294,204}}</string>
                <key>offset</key>
                <string>{-3,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,65},{294,204}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>pink_touch_00032.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,2},{294,204}}</string>
                <key>offset</key>
                <string>{-3,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,65},{294,204}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>pink_touch_00033.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,208},{290,204}}</string>
                <key>offset</key>
                <string>{-3,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,66},{290,204}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>pink_touch_00034.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,414},{286,204}}</string>
                <key>offset</key>
                <string>{-2,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,68},{286,204}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>pink_touch_00035.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,414},{282,204}}</string>
                <key>offset</key>
                <string>{-2,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,70},{282,204}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>pink_touch_00036.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,620},{278,204}}</string>
                <key>offset</key>
                <string>{-1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,71},{278,204}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>pink_touch_00037.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,620},{274,204}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,73},{274,204}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>pink_touch_00038.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,826},{270,204}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,74},{270,204}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>pink_touch_00039.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,826},{268,204}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,75},{268,204}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>pink_touch_00040.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,826},{266,204}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,76},{266,204}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>pink_touch_00041.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1032},{264,202}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,78},{264,202}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pink_touch.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:960b326a6520b9dbdb9d1fc34db5ce46:1/1$</string>
            <key>textureFileName</key>
            <string>pink_touch.png</string>
        </dict>
    </dict>
</plist>
