<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>pink_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,1398},{264,202}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,81},{264,202}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>pink_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,1192},{268,204}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,80},{268,204}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>pink_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,862},{276,204}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,82},{276,204}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>pink_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,572},{286,202}}</string>
                <key>offset</key>
                <string>{-1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,87},{286,202}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>pink_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,328},{298,202}}</string>
                <key>offset</key>
                <string>{-1,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,91},{298,202}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>pink_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,532},{286,202}}</string>
                <key>offset</key>
                <string>{-1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,87},{286,202}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>pink_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,942},{276,204}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,82},{276,204}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>pink_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,1068},{268,204}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,80},{268,204}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>pink_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,1274},{264,202}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,81},{264,202}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>pink_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1148},{268,204}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,80},{268,204}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>pink_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,736},{278,204}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,82},{278,204}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>pink_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,220},{288,202}}</string>
                <key>offset</key>
                <string>{-1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,87},{288,202}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>pink_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,658},{278,202}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,83},{278,202}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>pink_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,986},{270,204}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,80},{270,204}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>pink_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1354},{266,204}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,79},{266,204}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>pink_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,776},{276,208}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,78},{276,208}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>pink_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,2},{290,216}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,76},{290,216}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>pink_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,424},{300,232}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,65},{300,232}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>pink_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,298},{338,272}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,45},{338,272}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>pink_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,2},{360,294}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,33},{360,294}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>pink_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{360,324}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,18},{360,324}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>pink_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{1018,2},{1,1}}</string>
                <key>offset</key>
                <string>{-179.5,179.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pink.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b062b3f32a027174b067cd702af7ff8b:1/1$</string>
            <key>textureFileName</key>
            <string>pink.png</string>
        </dict>
    </dict>
</plist>
