<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>purple_touch_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1072},{266,210}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,77},{266,210}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>purple_touch_00025.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,858},{270,212}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,75},{270,212}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>purple_touch_00026.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,644},{274,212}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,72},{274,212}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>purple_touch_00027.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,430},{282,212}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,69},{282,212}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>purple_touch_00028.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,216},{288,212}}</string>
                <key>offset</key>
                <string>{-2,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,66},{288,212}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>purple_touch_00029.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,214},{292,210}}</string>
                <key>offset</key>
                <string>{-2,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,65},{292,210}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>purple_touch_00030.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,2},{294,210}}</string>
                <key>offset</key>
                <string>{-2,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,64},{294,210}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>purple_touch_00031.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{294,212}}</string>
                <key>offset</key>
                <string>{-2,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,63},{294,212}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>purple_touch_00032.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,2},{292,212}}</string>
                <key>offset</key>
                <string>{-2,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,64},{292,212}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>purple_touch_00033.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,216},{290,212}}</string>
                <key>offset</key>
                <string>{-2,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,65},{290,212}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>purple_touch_00034.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,426},{286,210}}</string>
                <key>offset</key>
                <string>{-1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,68},{286,210}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>purple_touch_00035.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,430},{282,212}}</string>
                <key>offset</key>
                <string>{-1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,68},{282,212}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>purple_touch_00036.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,638},{280,212}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,70},{280,212}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>purple_touch_00037.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,644},{276,212}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,72},{276,212}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>purple_touch_00038.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,852},{272,212}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,73},{272,212}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>purple_touch_00039.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,858},{270,210}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,76},{270,210}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>purple_touch_00040.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,1066},{268,212}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,75},{268,212}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>purple_touch_00041.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1072},{266,210}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,77},{266,210}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>purple_touch.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1c59c8762d5841a9f1fc8dac72d2cd42:1/1$</string>
            <key>textureFileName</key>
            <string>purple_touch.png</string>
        </dict>
    </dict>
</plist>
