<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>purple_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,1608},{266,210}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,77},{266,210}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>purple_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1396},{270,210}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,78},{270,210}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>purple_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,792},{276,210}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,80},{276,210}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>purple_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,580},{282,210}}</string>
                <key>offset</key>
                <string>{-1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,83},{282,210}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>purple_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,226},{288,210}}</string>
                <key>offset</key>
                <string>{-1,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,87},{288,210}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>purple_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,542},{282,210}}</string>
                <key>offset</key>
                <string>{-1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,83},{282,210}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>purple_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,678},{276,210}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,80},{276,210}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>purple_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,1216},{270,210}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,78},{270,210}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>purple_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1608},{266,210}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,77},{266,210}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>purple_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,1102},{270,210}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,78},{270,210}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>purple_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,890},{274,210}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,80},{274,210}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>purple_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,330},{282,210}}</string>
                <key>offset</key>
                <string>{-1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,83},{282,210}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>purple_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,972},{274,210}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,80},{274,210}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>purple_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1184},{270,210}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,78},{270,210}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>purple_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,1004},{270,210}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,77},{270,210}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>purple_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,754},{276,216}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,74},{276,216}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>purple_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,2},{288,222}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,74},{288,222}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>purple_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,438},{298,238}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,62},{298,238}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>purple_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,302},{336,276}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,41},{336,276}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>purple_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,2},{360,298}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,29},{360,298}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>purple_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{360,326}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,15},{360,326}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>purple_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{1016,2},{1,1}}</string>
                <key>offset</key>
                <string>{-179.5,179.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>purple.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:165770d24e3ff5fcdac3de5f0cbd5f65:1/1$</string>
            <key>textureFileName</key>
            <string>purple.png</string>
        </dict>
    </dict>
</plist>
