<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>red_touch_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1102},{268,218}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,70},{268,218}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>red_touch_00025.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,882},{272,218}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,70},{272,218}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>red_touch_00026.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,662},{278,218}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,67},{278,218}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>red_touch_00027.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,442},{286,218}}</string>
                <key>offset</key>
                <string>{-1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,64},{286,218}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>red_touch_00028.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,438},{292,218}}</string>
                <key>offset</key>
                <string>{-1,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,61},{292,218}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>red_touch_00029.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,220},{298,216}}</string>
                <key>offset</key>
                <string>{-2,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,60},{298,216}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>red_touch_00030.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,2},{300,216}}</string>
                <key>offset</key>
                <string>{-2,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,59},{300,216}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>red_touch_00031.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{300,218}}</string>
                <key>offset</key>
                <string>{-2,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,58},{300,218}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>red_touch_00032.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,2},{298,218}}</string>
                <key>offset</key>
                <string>{-2,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,59},{298,218}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>red_touch_00033.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,222},{296,218}}</string>
                <key>offset</key>
                <string>{-2,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,60},{296,218}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>red_touch_00034.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,222},{292,218}}</string>
                <key>offset</key>
                <string>{-2,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,61},{292,218}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>red_touch_00035.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,442},{286,218}}</string>
                <key>offset</key>
                <string>{-1,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,63},{286,218}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>red_touch_00036.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,658},{284,218}}</string>
                <key>offset</key>
                <string>{-1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,65},{284,218}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>red_touch_00037.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,662},{278,218}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,67},{278,218}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>red_touch_00038.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,878},{276,218}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,68},{276,218}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>red_touch_00039.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,882},{272,218}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,69},{272,218}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>red_touch_00040.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,1098},{270,218}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,70},{270,218}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>red_touch_00041.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1102},{268,218}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,70},{268,218}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>red_touch.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a17106bfd332fbbe86b7a4d1080354d6:1/1$</string>
            <key>textureFileName</key>
            <string>red_touch.png</string>
        </dict>
    </dict>
</plist>
