<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>red_blink_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,222},{268,218}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,70},{268,218}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>red_blink_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,2},{268,218}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,70},{268,218}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>red_blink_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{268,218}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,70},{268,218}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>red_blink_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{268,218}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,70},{268,218}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>red_blink_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,2},{268,218}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,70},{268,218}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>red_blink_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,222},{268,218}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,70},{268,218}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>red_blink.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0fc4a1fdcfc0ac6509b7e80238e1eee3:1/1$</string>
            <key>textureFileName</key>
            <string>red_blink.png</string>
        </dict>
    </dict>
</plist>
