<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>yellow_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,1400},{264,204}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,81},{264,204}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>yellow_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,1194},{268,204}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,82},{268,204}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>yellow_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,866},{276,204}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,84},{276,204}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>yellow_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,570},{288,204}}</string>
                <key>offset</key>
                <string>{-1,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,87},{288,204}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>yellow_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,326},{300,204}}</string>
                <key>offset</key>
                <string>{-1,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,91},{300,204}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>yellow_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,532},{288,204}}</string>
                <key>offset</key>
                <string>{-1,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,87},{288,204}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>yellow_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,944},{276,204}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,84},{276,204}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>yellow_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,1072},{268,204}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,82},{268,204}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>yellow_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,1278},{264,204}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,81},{264,204}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>yellow_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1150},{270,204}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,82},{270,204}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>yellow_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,660},{278,204}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,84},{278,204}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>yellow_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,220},{290,204}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,87},{290,204}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>yellow_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,738},{278,204}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,84},{278,204}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>yellow_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,988},{270,204}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,82},{270,204}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>yellow_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1356},{266,206}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,79},{266,206}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>yellow_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,776},{276,210}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,78},{276,210}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>yellow_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,2},{292,216}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,77},{292,216}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>yellow_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,426},{300,232}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,66},{300,232}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>yellow_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,296},{340,272}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,45},{340,272}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>yellow_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,2},{360,292}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,35},{360,292}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>yellow_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{360,322}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,20},{360,322}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>yellow_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{1020,2},{1,1}}</string>
                <key>offset</key>
                <string>{-179.5,179.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>yellow.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:01b7405f2f1f2ad307bef307ea5e58e0:1/1$</string>
            <key>textureFileName</key>
            <string>yellow.png</string>
        </dict>
    </dict>
</plist>
