<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>yellow_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1320},{276,204}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,152},{276,204}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>yellow_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1114},{280,204}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,155},{280,204}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>yellow_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,876},{292,206}}</string>
                <key>offset</key>
                <string>{-3,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,160},{292,206}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>yellow_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,250},{306,208}}</string>
                <key>offset</key>
                <string>{-3,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,167},{306,208}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>yellow_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,2},{316,212}}</string>
                <key>offset</key>
                <string>{-3,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,174},{316,212}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>yellow_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,276},{304,208}}</string>
                <key>offset</key>
                <string>{-3,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,167},{304,208}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>yellow_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,654},{292,206}}</string>
                <key>offset</key>
                <string>{-3,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,160},{292,206}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>yellow_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,1084},{280,204}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,155},{280,204}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>yellow_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,1290},{276,204}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,152},{276,204}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>yellow_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,862},{282,206}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{113,154},{282,206}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>yellow_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,700},{292,206}}</string>
                <key>offset</key>
                <string>{-3,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,161},{292,206}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>yellow_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,444},{304,208}}</string>
                <key>offset</key>
                <string>{-3,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,167},{304,208}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>yellow_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,668},{292,206}}</string>
                <key>offset</key>
                <string>{-3,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,161},{292,206}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>yellow_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,1070},{280,206}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,154},{280,206}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>yellow_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,1278},{276,204}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,152},{276,204}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>yellow_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,908},{284,204}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,157},{284,204}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>yellow_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,460},{296,206}}</string>
                <key>offset</key>
                <string>{-3,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,162},{296,206}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>yellow_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,486},{292,212}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,152},{292,212}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>yellow_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,216},{306,226}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,141},{306,226}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>yellow_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,2},{334,246}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,131},{334,246}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>yellow_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{364,272}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,118},{364,272}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>yellow_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,740},{250,60}}</string>
                <key>offset</key>
                <string>{-11,-117}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{120,343},{250,60}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>yellow_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,460},{278,66}}</string>
                <key>offset</key>
                <string>{-12,-129}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{105,352},{278,66}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>yellow.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4b9c3112073ab589a3d62974eda88efa:1/1$</string>
            <key>textureFileName</key>
            <string>yellow.png</string>
        </dict>
    </dict>
</plist>
